
<table class="table table-striped">
  <tr>
    <th>Friend name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_friend.friendships.all.each do |friendship| %>
  <tr>
    <td><%= Friend.find_by_id(friendship.otherfriend).name %></td>
    <td><%= link_to 'Show', friendship %></td>
    <td><%= link_to 'Edit', edit_friendship_path(friendship) %></td>
    <td><%= link_to 'Destroy', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p class="pull-right">
<%= link_to 'Ask Friendship', new_friend_request_path %>
</p>

<!--link_to Ask Friendship, new_friendship_path-->
