
<table class="table table-striped">
  <tr>
    <th></th>
    <th>Friend name</th>
    <th>Details</th>
    <th></th>
    <th>Cancel Friendship</th>
  </tr>

<% current_friend.friendships.all.each do |friendship| %>
  <tr>
    <% if Friend.find(friendship.otherfriend).picture.exists? %>
      <td style="vertical-align: middle;"><%= image_tag Friend.find(friendship.otherfriend).picture.url(:small) %></td>
    <% else %>
      <td style="vertical-align: middle;"><%= image_tag ("https://s3-us-west-2.amazonaws.com/friendmap/app/public/listimages/small/social_default.png") %></td>
    <% end %>
    <td style="vertical-align: middle;"><%= Friend.find_by_id(friendship.otherfriend).name %></td>
    <td style="vertical-align: middle;"><%= link_to 'Show', friendship %></td>
    <td style="vertical-align: middle;"><%= link_to 'Edit', edit_friendship_path(friendship) %></td>
    <td style="vertical-align: middle;"><%= link_to 'Cancel', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p class="pull-right">
<%= link_to 'Ask Friendship', new_friend_request_path %>
</p>

<!--link_to Ask Friendship, new_friendship_path-->
