<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>Friend name</th>
    <th>Location</th>
    <th>Friend email</th>
    <th>Last time online</th>
  </tr>
  <tr>
    <td>
      <% if Friend.find(@friendship.otherfriend).picture.exists? %>
        <%= image_tag Friend.find(@friendship.otherfriend).picture.url(:small) %></td>
      <% else %>
        <%= image_tag ("https://s3-us-west-2.amazonaws.com/friendmap/app/public/listimages/small/social_default.png") %></td>
      <% end %>
    <td><%= Friend.find(@friendship.otherfriend).name %></td>
    <td>
      <% if Friend.find(@friendship.otherfriend).isonline %>
        <%= Friend.find(@friendship.otherfriend).location %>
      <% else %>
        Offline
      <% end %>
    </td>
    <td><%= Friend.find(@friendship.otherfriend).email %></td>
    <td><%= Friend.find(@friendship.otherfriend).lastseen %></td>
  </tr>

<!--<%= link_to 'Edit', edit_friendship_path(@friendship) %> | -->
<%= link_to 'Back', edit_friend_registration_path %>
