<h1>Listing friend requests</h1>

<h3>Request made by me</h3>
<table class="table table-striped">
  <tr>
    <th>Asked at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @friend_requests.each do |friend_request| %>
  <tr>
    <td><%= Friend.find_by_id(friend_request.otherfriend).name %></td>
    <td><%= link_to 'Show', friend_request %></td>
    <td><%= link_to 'Edit', edit_friend_request_path(friend_request) %></td>
    <td><%= link_to 'Destroy', friend_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h3>Pending requests</h3>
<table class="table table-striped">
  <tr>
    <th>Asked from</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pending_requests.each do |pending_request| %>
<% @asking_friend = (Friend.where("id= ?", pending_request.friend_id)).last %>
  <tr>
    <td><%= Friend.find_by_id(pending_request.friend_id).name %></td>
    <td><%= link_to 'Show', pending_request %></td>
    <td><%= link_to 'accept', accept_friend_request_path(pending_request, @asking_friend) %></td>
    <td><%= link_to 'Destroy', pending_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friend request', new_friend_request_path %>
