<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <%= link_to 'FriendMap',  root_path, class: "brand" %>
            
            <div class="nav-collapse">
                <ul class="nav">
                    <% if friend_signed_in?  %>
                    <li><table>
                        <tr>
                            <td style="height: 40px;">
                                <% if current_friend.picture.exists? %>
                                    <%= image_tag current_friend.picture.url(:navbar) %></td></tr></table></li>
                                <% else %>
                                    <%= image_tag ("https://s3-us-west-2.amazonaws.com/friendmap/app/public/listimages/navbar/social_default.png") %></td></tr></table></li>
                                <% end %>
                        <% @name= %>
                        <li>
                          <%= link_to current_friend.name.to_s.humanize,  edit_friend_registration_path%>
                        </li>
                    <% end %> 
                <li>    
                    <%= link_to 'About',  about_path %>
                </li>                            
                </ul>
                <ul class="nav pull-right">
                    <% if !friend_signed_in? %>
                        <div class="btn-group btn-group-xs">
                            <li><%= link_to 'Login',  new_friend_session_path, class: "btn btn-small" %></li>
                        </div>
                        <div class="btn-group btn-group-xs">
                            <li><%= link_to "Sign Up Now!", new_friend_registration_path, class: "btn btn-primary btn-small" %></li>
                        </div>
                    <% else %>
                        <!-- this ruby code shouldn't be here -->
                            <% @requests_n= FriendRequest.where("otherfriend= ?", current_friend).length %>
                        <!-- find a better place for this ^ -->
                            <%if @requests_n >1  %>
                                <div class="btn-group btn-group-xs">
                                    <li><%= link_to @requests_n.to_s<<' requests',  friend_requests_path, class: "btn btn-small" %></li>
                                </div>
                            <%elsif @requests_n ==1 %>
                                <div class="btn-group btn-group-xs">
                                    <li><%= link_to @requests_n.to_s<<' request',  friend_requests_path, class: "btn btn-small" %></li>
                                </div>
                            <% end %>
                        <div class="btn-group btn-group-xs">
                            <li><%= link_to 'Logout',  destroy_friend_session_path, class: "btn btn-small btn-quit", method: :delete %></li>
                        </div>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>